* {

  list-style:none; 

  padding:0px;

  margin:0px;

}

.div_principal{
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-columns: auto;
  grid-template-rows: auto;
  height:100%;
  width:100%;
}

h1{
  font-family: Source Serif Pro;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.o-title{
  grid-area: header;
  background: #173C6D;
}

.o-main{
  grid-area: main;
}


.formulario{
  position: absolute;
  left: 50%;
  transform: translate( -50%);
}

h2, .o-login, .o-email, .o-nomeDentista, .o-senha, .o-nomeClinica, .email, .user, .senha, .nomeClinica, .cadastrar, .o-termo{
  font-family: Roboto;
}

h2{
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  font-weight: 590;
}

.o-login{
  font-size: 16px;
  text-align: center;
  color: #525252;
  padding-bottom: 0px;
}

.o-nomeDentista{
  padding-top: 0px;
  font-size: 16px;
}

.o-email, .o-senha, .o-nomeClinica{
  padding-top: 5px;
  font-size: 16px;
}
#email, #nomeDentista, #senha, #nomeClinica{
  border-radius: 10px;
  border-color: #57CC97;
  width: 450px;
  height: 40px;
  border-width: 3px;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: Roboto;
}

.cadastrar{
  margin-top: 15px;
  background: #173C6D;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  color: white;
  font-size: 16px;
}

.o-termo{
  padding-top: 10px;
  font-size: 12px;
  line-height: 21px;
  color: #525252;
  text-align: center;
}