@charset "UTF-8";
 
/* Barra de navegação */
header{
    background-color: #173C6D;
    padding: 40px;
    margin: 0%;
   
}
 
header > h1{
    margin: 0%;
    text-align: left;
    color: white;
    font-size: 50px;
 
}

nav{
    position: relative;
    margin: 0%;
    height: 45px;
    background-color: #173C6D;
    padding: 10px;
    justify-content: space-between;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgb(0,0,0,.1);
}
 
nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 5px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position:absolute;
    height: 5px;
    top: 40px;
    z-index: 0;
    background: #1abc9c;
    width: 0px;
    border-radius: 8px;
    transition: all .5s ease 0s;
 
}
a:nth-child(1){
    width: 140px;
}
nav .start-pacientes, a:nth-child(1):hover~.animation{
    width: 140px;
    left: 10px;
}
 
a:nth-child(2){
    width: 160px;
}
nav .start-agendamento, a:nth-child(2):hover~.animation{
    width: 140px;
    left: 160px;
}
 
a:nth-child(3){
    width: 160px;
}

nav .start-medicamentos, a:nth-child(3):hover~.animation{
    width: 140px;
    left: 320px;
}
 
a:nth-child(4){
    width: 160px;
}
nav .start-notificações, a:nth-child(4):hover~.animation{
    width: 142px;
    left: 480px;
}

a:nth-child(5){
    width: 90px;
}

nav .start-perfil, a:nth-child(5):hover~.animation{
    width: 90px;
    left: 630px;
}
 
nav > a:hover{
    text-decoration: underline;
    color: white;
}


* {

    list-style:none; 

    padding:0px;

    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        

}

/* Gerais */
body{
    font-family:  Source Serif Pro;
    border: 0;
    overflow: visible;
    margin-bottom: 170px;
    background-color: #F2F2F2;
    min-width: 1000px;
}

p, li{
    color: black;
    font-size: 15px;
}

h1{
    font-family: Source Serif Pro;
    font-size: 32px;
    color: white;
    padding-top: 5px;
}
h2, .cadastrar{
    font-family: Roboto, sans-serif;
    color: #173C6D;
    font-weight:lighter;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    
}

h3{
    color: rgb(60, 60, 60);
    font-weight:lighter;
    font-family: Roboto, sans-serif;
    padding-top:8px;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;   
}
h5{
    font-weight: bold;
}
h6{
    display: inline-block;
    color: black;
    margin: 10px;
}

.div_principal{
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:100%;
    width:100%;
  }
.o-main{
    grid-area:main;
    background-color: #F2F2F2;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
    margin-top: 0px;
}

.o-footer{
    background-color: #F2F2F2;
    font-family: Roboto;
    width: 600px;
    margin-left: 350px;
    margin-top: 0px;
    height: max-content;
}
.card-header{
    background-color: #A0EECA;
    display: grid;
    grid-template-columns: 16fr 1fr;
    width: 592px;
    height:max-content;
    font-family: Roboto;
    color:black;
}
.col-6{
    padding-left: 0px;
}
.card{
    height:auto;
    width: 600px;
    background-color: white;
    margin-left: 300px;
    margin-top: 0px;
    border-radius: 8px;
    border: 4px solid #57cc97;
}
.titulo{
    padding-top: 8px;
    padding-bottom: 0px;
}

.campos{
    text-align: center;
}

.campos-texto{
    font-weight: bold;
}

#dados-exclusao{
    padding-top: 0px;
}
.o-paciente, .o-cpf, .o-celular, .o-dataNasc, .o-sexo{
    font-family: Roboto, sans-serif;
    color: rgb(32, 32, 32);
    font-weight:lighter;
    text-align: left;
    margin: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;    
}

#button-excluir{
    background: #173C6D;
    color:white;
    margin-left: 450px;
    border-radius: 10px;
    width:100px;
    height: 40px;
    font-size: 18px;
    align-self: auto;
    margin-top: 0px;
    display: inline-block; 
}

/* Modal */
#modal{
    max-width: 1000px;
    min-width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +5%);
}

.modal-header{
    background: #67dfc7;
    color: #173C6D;  
}

#button-excluirmodal{
    background: #173C6D;
    color:white;  
    position: relative;
    float: right;
}

#button-cancelar{
    background: #E5E5E5;
    color: #173C6D;
}

.caixa{
    border-style: solid;
    border-radius: 10px;
    border-color: #57CC97;
    height: 40px;
    border-width: 3px;
    margin-left: 5px;
}

#cpf{
    width: 380px;
}

#nome{
    width: 450px;
}

#data{
    width: 250px;
}