@charset "UTF-8";
 
/* Barra de navegação */
h1{
    font-family: Source Serif Pro;
    font-size: 32px;
    color: white;
    padding-top: 5px;
}
 
body{
    min-width: 1000px;
}

* {

    list-style:none; 

    padding:0px;

    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        

}
 
header{
    background-color: #173C6D;
    padding: 40px;
    margin: 0%;
}
 
header > h1{
    margin: 0%;
    text-align: left;
    color: white;
    font-size: 50px;
 
}

nav{
    position: relative;
    margin: 0%;
    height: 45px;
    background-color: #173C6D;
    padding: 10px;
    justify-content: space-between;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgb(0,0,0,.1);
}
 
nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 5px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position:absolute;
    height: 5px;
    top: 40px;
    z-index: 0;
    background: #1abc9c;
    width: 0px;
    border-radius: 8px;
    transition: all .5s ease 0s;
 
}
a:nth-child(1){
    width: 140px;
}
nav .start-pacientes, a:nth-child(1):hover~.animation{
    width: 140px;
    left: 10px;
}
 
a:nth-child(2){
    width: 160px;
}
nav .start-dentistas, a:nth-child(2):hover~.animation{
    width: 140px;
    left: 160px;
}
 
a:nth-child(3){
    width: 160px;
}

nav .start-medicamentos, a:nth-child(3):hover~.animation{
    width: 140px;
    left: 320px;
}
 
a:nth-child(4){
    width: 160px;
}
nav .start-notificações, a:nth-child(4):hover~.animation{
    width: 142px;
    left: 480px;
}

a:nth-child(5){
    width: 90px;
}

nav .start-perfil, a:nth-child(5):hover~.animation{
    width: 90px;
    left: 630px;
}
 
nav > a:hover{
    text-decoration: underline;
    color: white;
}