@charset "UTF-8";
 
/* Gerais */
body{
    font-family:  Source Serif Pro;
    color: white;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li{
    color: white;
    font-size: 14px;
}
 
/* Barra de navegação */
h1{
    font-family: Source Serif Pro;
    font-size: 32px;
    color: white;
    padding-top: 5px;
}
 
body{
    background-color: white; 
    margin-bottom: 170px;
}
 
header{
    background-color: #173C6D;
    padding: 40px;
    margin: 0%;
   
}
 
header > h1{
    margin: 0%;
    text-align: left;
    color: white;
    font-size: 50px;
 
}

nav{
    position: relative;
    margin: 0%;
    height: 45px;
    background-color: #173C6D;
    padding: 10px;
    justify-content: space-between;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgb(0,0,0,.1);
}
 
nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 5px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position:absolute;
    height: 5px;
    top: 40px;
    z-index: 0;
    background: #1abc9c;
    width: 0px;
    border-radius: 8px;
    transition: all .5s ease 0s;
 
}
a:nth-child(1){
    width: 140px;
}
nav .start-pacientes, a:nth-child(1):hover~.animation{
    width: 140px;
    left: 10px;
}
 
a:nth-child(2){
    width: 160px;
}
nav .start-agendamento, a:nth-child(2):hover~.animation{
    width: 140px;
    left: 160px;
}
 
a:nth-child(3){
    width: 160px;
}

nav .start-medicamentos, a:nth-child(3):hover~.animation{
    width: 140px;
    left: 320px;
}
 
a:nth-child(4){
    width: 160px;
}
nav .start-notificações, a:nth-child(4):hover~.animation{
    width: 142px;
    left: 480px;
}

a:nth-child(5){
    width: 90px;
}

nav .start-perfil, a:nth-child(5):hover~.animation{
    width: 90px;
    left: 630px;
}
 
nav > a:hover{
    text-decoration: underline;
    color: white;
}

* {

    list-style:none; 

    padding:0px;

    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        

}

.div_principal{
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:100%;
    width:100%;
}


.o-main{
    grid-area: main;
}

h2, .o-pacientes .cadastrar{
    font-family: Roboto;

}

#formulario{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.o-pacientes{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#paciente-input{
    border-radius: 10px;
    border-color: #57CC97;
    width: 450px;
    height: 45px;
    border-width: 3px;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: Roboto;
    margin-top: 5px;
  }
  #nome-completo-input, #celular-input, #cpf-input,  #rg-input{
    border-radius: 10px;
    border-color: #57CC97;
    width: 380px;
    height: 40px;
    border-width: 3px;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: Roboto;
    margin-top: 10px;
    display: inline-block;    
  }

  #data-nasc-input{
    border-radius: 10px;
    border-color: #57CC97;
    width: 250px;
    height: 45px;
    border-width: 3px;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: Roboto;
    margin-top: 10px;
    display: inline-block;  
  }

#cadastrar-button{
    margin-top: 20px;
    background: #173C6D;
    border-radius: 10px;
    width: 450px;
    height: 45px;
    color: white;
    font-size: 18px;
    align-self: auto;
  }
  #listar-button{
    margin-top: 20px;
    background: #173C6D;
    border-radius: 10px;
    width: 450px;
    height: 45px;
    color: white;
    font-size: 18px;
  }

/* Modal*/
  
#modal{
    max-width: 1000px;
    min-width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +5%);
}


.modal-header{
    background: #67dfc7;
    color: #173C6D;  
  }

/* Listar - Model */

#header-listar-modal{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
}

  #busca{
    padding-bottom: 30px;
    padding-top: 0px;
    width: 300px;
    height: 20px;
}

#busca input{
    border-radius: 10px;
    border-color: #173C6D;
    border-width: 3px;
    text-align: left;
    font-size: 15px;
    padding: 0 0 0 5px;
    background-color: #FFFFFF;
    pointer-events: auto;
}

#busca input:focus{
    outline: none;
}
.listagem{
    display: grid;
    grid-template-columns: 1.3fr 0.6fr 0.6fr 0.2fr 0.2fr;
}

#titulo-listagem{
    background: rgba(160, 238, 202, 0.3);
    border-radius: 5px;
}

#btn-opcoes{
    background: #173C6D;
    width: 30px;
    height: 28px;
    color: #FFFFFF;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.btn-options{
    padding-top: 3px;
}
*/Outras definições/

  h5{
    font-weight: bold;
  }
  .form-check-label{
      color:black;
  }
  
  .form-check-label{
    align-content:space-between;
}
#button-cancelar{
    background: #E5E5E5;
    color: #173C6D;
}
#button-cadastrar, #button-listar{
    background: #173C6D;
    color:white;
}
h6{
    display: inline-block;
    color: black;
    margin: 10px;
}

.observacoes{
    padding-top: 10px;
}
#button-excluir{
    background: #173C6D;
    color:white;  
}