* {

    list-style:none; 

    padding:0px;

    margin:0px;

}

.div_principal{
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:100%;
    width:100%;
}

h1{
    font-family: Source Serif Pro;
    font-size: 72px;
    line-height: 112px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.o-title{
    grid-area: header;
    background: #173C6D;
}

.o-main{
    grid-area: main;
}

h2, .o-login, .o-email, .o-user, .o-senha, .email, .user, .senha, .cadastrar, .o-termo{
    font-family: Roboto;

}

h2{
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    padding-top: 25px;
}

.o-login{
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #525252;
    padding-top: 25px;
    padding-bottom: 20px;
}

.o-email, .o-user, .o-senha{
    font-size: 23px;
    line-height: 27px;
    padding-left: 200px;
    margin-top: 30px;
}
.email, .user, .senha {
    margin-left: 200px;
    margin-top: 2px;
    width: 636px;
    height: 60px;
    border: 3px solid;
    border-color: #57CC97;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 23px;
}
.bt{
    text-align: center;
}

.cadastrar{
    margin-top: 40px;
    background: #173C6D;
    border-radius: 10px;
    width: 636px;
    height: 60px;
    color: white;
    font-size: 25px;
}

.o-termo{
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #525252;
}
