<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Medicamentos</title>
  <div th:insert="fragmentos/menu.html :: menuDentalSystem(name='medicamentos')"></div>
  <link rel="stylesheet" href= "cadastro_medicamentos.css">

 <!--Script-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
  <footer>
    <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="titulo">
                            <h2>Cadastro de Medicamento</h2>
                        </div>
                    </div>
                    <div class="card-body" id="campos-informacoes-medicamento">

                      <form th:action="@{/medicamentoAdd}" th:object="${medicamento}" method="post">
                        <h6>Tipo de uso:</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Uso externo">
                            <label class="form-check-label" for="inlineRadio1">Uso externo</label>
                          </div>
                          <div class="form-check form-check-inline">  
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Uso interno">
                            <label class="form-check-label" for="inlineRadio2">Uso interno</label>
                          </div>

                        <div class="form-group floating">

                          <input th:field="*{nome}" type="text" class="form-control floating" id="medicamento-input" required value="">
                          <label for="medicamento-input">Medicamento</label>

                          <input th:field="*{posologia}" class="form-control floating" type="text" id="posologia-input" required value="">
                          <label for="posologia-input">Posologia</label>

                        </div>
                        <div>
                            <select id="medida-input" th:field="*{medida}">
                                
                                <option value="1">Uma</option>
                                <option value="2">Duas</option>
                                <option value="3">Três</option>
                              </select>
                          </div>
                          <div  class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Esse medicamento exige receita controlada</label>
                          </div>
                          <div>
                            <button type="submit" class="btn btn-cadastrar" id="button-cadastrar">Cadastrar</button>
                            <a href="medicamentos.html"><button type="submit"  class="btn btn-cancelar" id="button-cancelar">Cancelar</button>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>      
  </footer>   
</body>
</html>