<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http:ultraq.net.nez/thymeleaf/layout">

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<!-- Fonte-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!--BootStrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="clinicaCriarConta.css">

<!--Script-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<title>DentalSystem</title>
</head>
<body>
    <div class="div_principal">
        <header class="o-title">
            <h1>DentalSystem</h1>
        </header>
        <main class="o-main">
            <h2>Criar uma conta</h2>
            <p class="o-login">Já possui uma conta? <a href="/clinicalogin">Faça login</a></p>
            
            
            <form th:action="@{/clinicaadd}"  th:object="${clinica}" method="POST">
             <div class="form-group">
             
            <p class="o-nomeDentista">Seu nome</p>
            <input class="o-nomeDentista" type="text" th:field="*{nomeDentista}" placeholder="Seu nome">
            
             <p class="o-nomeClinica">Nome da clínica</p>
            <input class="o-nomeClinica" type="text" th:field="*{nomeClinica}" placeholder="Nome da clínica">
            
            <p class="o-email">Seu endereço de email</p>
            <input class="email" type="text" th:field="*{email}" placeholder="Email">
            
            <p class="o-senha">Digite uma senha</p>
            <input class="senha"  type="text" th:field="*{senha}" placeholder="Senha">

            <div class="bt">
                <button class="cadastrar">Criar conta</button>
            </div>
             </form>
            <p class="o-termo">Ao criar uma conta, você concorda com os nossos <a href="url">Termos e Condições</a></p>
           
        </main>
    </div>
</body>
</html>