* {

    list-style:none; 

    padding:0px;

    margin:0px;

}

body{
  background-image: url('image1.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0px;
}

h1{
  font-family: Source Serif Pro;
  font-size: 72px;
  line-height: 112px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.o-header{
    background: #173C6D;
}

.content-grid{
  width: 100vw;
  height: 100vh;
}

#telaLogin{
  width: 580px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 30px rgb(195, 195, 195);
}

.texto{
  margin-top: 10px;
  text-align: center;
}
.email, .senha {
  margin-top: 5px;
  width: 440px;
  height: 60px;
  border: 3px solid;
  border-color: #57CC97;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 23px;
  font-family: Roboto;
  font-size: 22px;
}
.bt{
  text-align: center;
}
.cadastrar{
  margin-top: 40px;
  background: #173C6D;
  border-radius: 10px;
  width: 440px;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.o-registro{
    padding-top: 20px;
    font-family:Roboto;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #525252;
}

.campos, .texto{
  font-family: Roboto;
  font-size: 24px;
}

.campos{
  margin-top: 30px;
}

.email, .senha, .campos, .cadastrar{
  margin-left: 45px;
}