<div th:fragment = "menuDentalSystem (name)" th:remove="tag">
    <!-- Fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="menu.css">
    <header>
        <h1>DentalSystem</h1>
    </header>
    <nav>
        <a href="/pacienteCadastro" style="text-decoration:none">Pacientes</a>
        <a href="/dentistaMenu" style="text-decoration:none">Dentistas</a>
        <a href="/medicamentoMenu" style="text-decoration:none">Medicamentos</a>
        <a href="/Notificacao" style="text-decoration:none">Notificações</a>
        <a href="#" style="text-decoration:none">Perfil</a>

        <div th:if="${name} eq 'pacientes'" class="animation start-pacientes"></div>
        <div th:if="${name} eq 'dentistas'" class="animation start-dentistas"></div>
        <div th:if="${name} eq 'medicamentos'" class="animation start-medicamentos"></div>
        <div th:if="${name} eq 'notificações'" class="animation start-notificações"></div>
    </nav>
</div>