<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissional</title>
    <div th:insert="fragmentos/menu.html :: menuDentalSystem(name='dentistas')"></div>
    <link rel="stylesheet" href="menu_dentista.css">

   <!--Script-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
	    <main class="o-main">
        <div class="cadastro">
            <a href="/dentistaCadastro" target="_parent"><button type="button"  class="btn btn-cadastrar" id="button-cadastrar">Cadastrar Profissional</button></a>  
        </div>
        <footer class="o-footer">
            <div class="card">
            <table>
                <tr class="card-header">
                	<th class="card-header">Dentista</th>
                    <th class="card-header">CPF</th>
                    <th class="card-header">CRO</th>
                    <th class="card-header">Celular</th>
                    <th class="card-header">Email</th>
                    <th class="card-headers">Atualizar</th>
                    <th class="card-headers">Excluir</th>
                </tr>
            <tr class="card-headeres" th:each="dentistalist : ${dentistalista}">
                	<th><h6><span th:text="${dentistalist.nome}"></span></h6></th>
                    <th><h6><span th:text="${dentistalist.cpf}"></span></h6></th>
                    <th><h6><span th:text="${dentistalist.cRO}"></span></h6></th>
                    <th><h6><span th:text="${dentistalist.celular}"></span></h6></th>
                    <th><h6><span th:text="${dentistalist.email}"></span></h6></th>
                    <th><a th:href="@{/dentistaEditar/{id}(id = ${dentistalist.id})}" class="edit" target="_parent"><button type="button" class="btn btn-secundary" data-toggle="modal" id="btn-opcoes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" id="icone-editar">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </button></a></th>
                    <th><a th:href="@{/dentistaDeletar/{id}(id = ${dentistalist.id})}" class="edit" target="_parent"><button type="button" class="btn btn-secundary"  data-toggle="modal"  id="btn-opcoes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button></a></th>
                    </tr>              
            </table>   
    </footer>
    </main>
</body>
</html>