
@charset "UTF-8";
 
/* Gerais */
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li{
    color: white;
    font-size: 14px;
}
 
/* Barra de navegação */
h1{
    font-family: Source Serif Pro;
    font-size: 32px;
    color: white;
    padding-top: 5px;
}
 
body{
    background-color: #F2F2F2;
    margin-bottom: 170px;
}
 
header{
    background-color: #173C6D;
    padding: 40px;
    margin: 0%;
   
}
 
header > h1{
    margin: 0%;
    text-align: left;
    color: white;
    font-size: 50px;
 
}

nav{
    position: relative;
    margin: 0%;
    height: 45px;
    background-color: #173C6D;
    padding: 10px;
    justify-content: space-between;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgb(0,0,0,.1);
}
 
nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 5px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position:absolute;
    height: 5px;
    top: 40px;
    z-index: 0;
    background: #1abc9c;
    width: 0px;
    border-radius: 8px;
    transition: all .5s ease 0s;
 
}
a:nth-child(1){
    width: 140px;
}
nav .start-pacientes, a:nth-child(1):hover~.animation{
    width: 140px;
    left: 10px;
}
 
a:nth-child(2){
    width: 160px;
}
nav .start-agendamento, a:nth-child(2):hover~.animation{
    width: 140px;
    left: 160px;
}
 
a:nth-child(3){
    width: 160px;
}

nav .start-medicamentos, a:nth-child(3):hover~.animation{
    width: 140px;
    left: 320px;
}
 
a:nth-child(4){
    width: 160px;
}
nav .start-notificações, a:nth-child(4):hover~.animation{
    width: 142px;
    left: 480px;
}

a:nth-child(5){
    width: 90px;
}

nav .start-perfil, a:nth-child(5):hover~.animation{
    width: 90px;
    left: 630px;
}
 
nav > a:hover{
    text-decoration: underline;
    color: white;
}

* {

    list-style:none; 

    padding:0px;

    margin:0px;
    box-sizing: border-box;
}

.div_principal{
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: auto;
    grid-template-rows: auto;
    height:100%;
    width:100%;
}


.o-main{
    grid-area: main;
    font-family: Roboto;

}

.paciente{
    background-color: #FFFDFD;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 12fr 2fr;
}

h2{
    font-size: 16px;
    font-weight: bold;
}

h3{
    font-size: 14px;
}

.paciente-escolhido{
    padding-top: 15px;
}

.escolher-paciente{
    padding-top: 40px;
    padding-bottom: 0px;
}

.escolher-paciente::after{
    content: "";
    background: url("arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 30px;
    right: 10px;
    top: 235px;

    transition: all 0.4s;
}

.o-footer{
    font-family: Roboto;
    padding: 50px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header{
    background-color: #173C6D;
    color: white;
}

#message-text{
    border-style: solid;
    border-color: #173c6d00;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0px;
  padding-top: 20px;
}

#button-cancelar{
    background: #E5E5E5;
    color: #173C6D;
}
#button-cadastrar{
    background: #173C6D;
    color:white;
}

.card-body{
    padding-left: 30px;
    padding-right: 30px;
}

.card-footer{
    display: flex;
}

.cadastrar{
    padding-right: 30px;
}

h4{
    font-size: 16px;
}

.registros{
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 35fr 1fr;
}

#btn-opcoes{
    background: #173C6D;
    width: 30px;
    height: 28px;
    color: #FFFFFF;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

/* Botão outlined - Cancelar*/
.btn-outline-primary {
    color: #173C6D;
    background-color: transparent;
    background-image: none;
    border-color: #173C6D;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #7cc;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #8ad3d3;
    border-color: #7cc
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}




